<html>

<head>
    <title>TaskManager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<!-- Add task form-->
<div>
    <form class="form-horizontal" [formGroup]="addTaskForm" (ngSubmit)="checkTask()">
        <!--Project Search field-->
        <div class="form-group">
            <label class="control-label col-sm-2 font-style" for="Task">Project:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" formControlName="project" id="project" readonly placeholder="Select Project" name="project" [ngClass]="{ 'invalid': submitted && f.project.errors }" required>
                <div *ngIf="submitted && f.project.errors" class="invalid-message">
                        <div *ngIf="f.project.errors.required">Project Name is required</div>
                    </div>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-Basic" (click)="getAllProjectList()">Search</button>
            </div>
        </div>
        <!--Task field-->
        <div class="form-group">
            <label class="control-label col-sm-2 font-style" for="Task">Task:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" formControlName="task" id="task" placeholder="Enter Task" name="Task" [ngClass]="{ 'invalid': submitted && f.task.errors }" required>
                <div *ngIf="submitted && f.task.errors" class="invalid-message">
                        <div *ngIf="f.task.errors.required">Task Name is required</div>
                    </div>
            </div>
        </div>
        <!--Parent Task Check box-->
        <div class="form-group">
            <label class="control-label col-sm-2 chk-box" for="Task"></label>

            <div class="form-check">
                <label class="form-check-label font-style">
                    <input type="checkbox" class="form-check-input" value="" (change)="isParentTask()" formControlName="isParentTask">Parent Task
                </label>
            </div>
        </div>
        <!--Priority-->
        <div class="form-group">
            <label class="control-label col-sm-2 font-style" for="Priority">Priority:</label>
            <div class="col-sm-2 slidecontainer">
                0
                <span>30</span>
                <input type="range" min="0" max="30" value="0" formControlName="priority" class="slider" id="myRange" name="myRange" oninput="amount.value=myRange.value">
                <output id="amount" name="amount" for="rangeInput">0</output>
            </div>
        </div>
        <!--Parent task Search field-->
        <div class="form-group">
            <label class="control-label col-sm-2 font-style" for="ParentTask">Parent Task:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" formControlName="parentTask" id="parent-task" readonly placeholder="Select Project Task" name="parentTask" [ngClass]="{ 'invalid': submitted && f.parentTask.errors }" required>
                <div *ngIf="submitted && f.parentTask.errors" class="invalid-message">
                        <div *ngIf="f.parentTask.errors.required">Parent Task is required</div>
                    </div>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-Basic" [disabled]="btnEnableState" (click)="getAllParentTaskList()">Search</button>
            </div>
        </div>
        <!--Task Start date field-->
        <div class="form-group">
            <label class="control-label col-sm-2 font-style" for="StartDate">Start Date:</label>
            <div class="col-sm-2">
                <input type="date" class="form-control date-width" id="StartDate" formControlName="startDate" placeholder="Enter Start Date" name="StartDate">
            </div>

            <label class="control-label col-sm-1 font-style" for="Task">EndDate:</label>
            <div class="col-sm-2">
                <input type="date" class="form-control date-width" id="EndDate" formControlName="endDate" placeholder="Enter EndDate" name="EndDate">
            </div>
        </div>
        <!--Users Search field-->
        <div class="form-group">
            <label class="control-label col-sm-2 font-style" for="Users">User:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" formControlName="user" id="user" readonly placeholder="Select User" name="user" [ngClass]="{ 'invalid': submitted && f.user.errors }" required>
                <div *ngIf="submitted && f.user.errors" class="invalid-message">
                        <div *ngIf="f.user.errors.required">User ID is required</div>
                    </div>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-Basic" [disabled]="btnEnableState"  (click)="getAllUsersList()">Search</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
                <button  class="btn btn-Basic">Add Task</button>

                <button type="reset" class="btn btn-Basic reset-btn">Reset</button>
            </div>
        </div>
    </form>
</div>
<!--Search Project popup-->
<div class="w3-container font-style">
    <div id="searchProject" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <span onclick="document.getElementById('searchProject').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h3>Projects Details</h3>
                <hr>
                <table calss="table">
                    <tr>
                      <th><label class="control-label " for="projectID">Project ID</label></th>     
                      <th><label class="control-label " for="projectName">Project Name</label></th> 
                      <th><label class="control-label " for="priority">Priority</label></th> 
                    </tr>
                    <tr *ngFor="let project of projects">
                            <td class="col-sm-2" (click)="selectedProject(project)"><a>{{project.projectID}}</a></td>
                            <td class="col-sm-3">{{project.projectName}}</td>
                            <td class="col-sm-3">{{project.priority}}</td>

                    </tr>

            </table>
                <div class="btn-div">
                    <button (click)="searchProjectClose()" class="btn btn-Basic btn-margin">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Search Parent Task popup-->
<div class="w3-container font-style">
    <div id="searchParentTask" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <span onclick="document.getElementById('searchParentTask').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h3>Parent Task Details</h3>
                <hr>
                <table calss="table">
                    <tr>
                      <th><label class="control-label " for="parentTaskID">Parent Task ID</label></th>     
                      <th><label class="control-label " for="parentTaskName">Parent Task Name</label></th> 
                    </tr>
                    <tr *ngFor="let parentTask of parentTasks">
                            <td class="col-sm-2" (click)="selectedParentTask(parentTask)"><a>{{parentTask.parentID}}</a></td>
                            <td class="col-sm-3">{{parentTask.parentTask}}</td>
                    </tr>
            </table>
                <div class="btn-div">
                    <button (click)="searchParentTaskClose()" class="btn btn-Basic btn-margin">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Search User popup-->
<div class="w3-container font-style">
    <div id="searchUser" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <span onclick="document.getElementById('searchUser').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h3>Projects Details</h3>
                <hr>
                <table calss="table">
                    <tr>
                      <th><label class="control-label " for="userID">User ID</label></th>     
                      <th><label class="control-label " for="firstName">First Name</label></th> 
                      <th><label class="control-label " for="lastName">Last Name</label></th> 
                    </tr>
                    <tr *ngFor="let user of users">
                            <td class="col-sm-2" (click)="selectedUser(user)"><a>{{user.userID}}</a></td>
                            <td class="col-sm-3">{{user.firstName}}</td>
                            <td class="col-sm-3">{{user.lastName}}</td>
                    </tr>
            </table>
                <div class="btn-div">
                    <button (click)="searchUserClose()" class="btn btn-Basic btn-margin">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Added successfully popup-->
<div class="w3-container font-style">
    <div id="addTaskSuccess" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <span onclick="document.getElementById('addTaskSuccess').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h3>Task {{taskName}} Added Successfully</h3>
                <hr>
                <div class="btn-div">
                    <button (click)="onAddSuccessClose()" class="btn btn-Basic btn-margin">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

</html>